
body {
  font-family: Times, serif;
  color: darkBrown;
  background-color: white;}

h1, h2 {
  font-family: Arial, sans-serif;
  color: orange;
  background-color: brown;}

h3 {
  font-family: Oswald, sans-serif;
  color: red;
  background-color: blue;}

div {
  height: 325px;
  width: 400px;
  background-color: yellow;}

