
body {
  font-family: Times, serif;
  color: darkBrown;
  background-color: pink;
  font-size: 24px;}

h1, h2 {
  font-family: Arial, sans-serif;
  color: orange;
  background-color: brown;
  text-align: center;}

h3 {
  font-family: Oswald, sans-serif;
  color: silver;
  background-color: blue;}

div {
  height: 350px;
  width: 400px;
  background-color: green;}

p {
  text-align: center;
}


